html{
	font-size: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
  font-family: 'Varela Round', sans-serif;
}
li{
	list-style: none;
}
ul{
	padding: 0;
}
a,i,button{
	color: blue;

	text-decoration: none;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
a{
	color: brown;
}

.header{
  display: flex;
  background-color: rgba(255,200,0,.2);
  font-size: 1.6rem;
}

.header__left{
}

.header__right, .header__left{
	flex: 0 0 15%;
}

.header__logo{	
	text-align: center;
}

.header__logo_link{
	width: 100%;
}

.header__logo_img{
	height: 50px;
}

.header__social{
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
}
.header__social a{
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	 -webkit-align-items: center;
	         align-items: center;
	width: 2rem;
	height: 2rem;
	font-size: 1.4rem;
	border: 1px solid lightblue;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	padding: 10px;
}

.header__social a i{
	color: lightblue;
}
.header__social a:hover{
	color: lightgreen;
	border: 1px solid lightgreen;
	background-color: rgba(255,255,255,.6);	
}


.header__nav{
	display: flex;
	-webkit-flex-grow: 1;
	        flex-grow: 1;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 2rem;
}	    
.nav__top{
	font-size: 1.4rem;
}
.nav__top,.nav__bottom{
    display: flex;
}

.nav__top li:nth-child(2){
    margin-left: 5rem;
}
.nav__top li a,.nav__bottom li a{
   color: #200772;
}

.nav__bottom{
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.nav__bottom li a{
	font-size: 3rem;
}

.nav__bottom li:hover a,.nav__top li:hover a{
	text-shadow: 1px 1px 2px white;
	-webkit-box-shadow: 0px 0px 30px white;
	        box-shadow: 0px 0px 30px white;
}
    
.header__right{    
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
            align-items: center;
}

.header__tel{
	/*background: #666;*/
	color: rgb(81,92,102);
	text-align: center;
}

.header__tel p{
	margin: 0;
	text-transform: uppercase;
	font-style: italic;
	font-size: 3rem;	
}

.header__tel p+p{
	font-size: 2rem;
}

.header__tel p span{
	font-size: 3rem;
	color: lightblue;
	font-style: normal;		
	
}

.header__cart{	
    color: rgb(205,216,228);
  	text-shadow: 0 -1px rgb(46,53,58);
  	text-decoration: none;
  	user-select: none;
  	line-height: 2em;
  	padding: 1px 1.2em;
  	outline: none;
  	border: 1px solid rgba(33,43,52,1);
  	border-radius: 3px;
  background: rgb(81,92,102) -webkit-linear-gradient(rgb(81,92,102), rgb(69,78,87));
  background: rgb(81,92,102) -o-linear-gradient(rgb(81,92,102), rgb(69,78,87));
  background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
  	box-shadow:
   inset 0 1px rgba(101,114,126,1),
   inset 0 0 1px rgba(140,150,170,.8),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
   cursor: pointer;
}

.header__cart:hover,.header__cart:active {
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  color: lightblue;
}
.header__cart:focus:not(:active) {
  border: 1px solid rgb(22,32,43);
  border-bottom: 1px solid rgb(25,34,45);
  background: rgb(53,61,71);
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  pointer-events: none;
}

.header__cart i{
	color: inherit;
}
/*Menu Toggle*/
.menu_toggle{
	display: flex;
	position: absolute;
	top: 20px;
	right: 20px;
}

.menu_toggle__tel i{
	font-size: 4rem;
	color: rgba(0,45,255,.5);
	padding-right: 1rem;
	padding-top: .7rem;
	text-align: center;
}
.menu_toggle__tel i:hover{
	color: rgba(0,45,255,.7);
	
}

.menu_toggle__burger{
	display: block;
	position: relative;
	width: 45px;
	height: 50px;
	
	cursor: pointer;
	background-color: rgba(0,55,255,.2);
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	-webkit-transition: all .6s;
	   -moz-transition: all .6s;
	    -ms-transition: all .6s;
	     -o-transition: all .6s;
	        transition: all .6s;
}
.menu_toggle__burger:hover{
	background-color: rgba(0,55,255,.4);
	-webkit-border-radius: 9px;
	        border-radius: 9px;
}

.burger_icon{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 1px;
	opacity: 1;
	-webkit-border-radius: 1px;
	        border-radius: 1px;
	background: linear-gradient(90deg,lightgreen,yellow);
	
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.burger_icon:first-child{
	top: 30%;
}
.burger_icon:last-child{
	top: 70%;
}

.menu_toggle__burger.active .burger_icon:nth-child(2){
	opacity: 0;
}
.menu_toggle__burger.active .burger_icon:first-child{
	-webkit-transform: rotate(405deg);
	   -moz-transform: rotate(405deg);
	    -ms-transform: rotate(405deg);
	     -o-transform: rotate(405deg);
	        transform: rotate(405deg);
	top: 50%;
	margin-left: -20px;
	width: 40px;
}
.menu_toggle__burger.active .burger_icon:last-child{
	-webkit-transform: rotate(315deg);
	   -moz-transform: rotate(315deg);
	    -ms-transform: rotate(315deg);
	     -o-transform: rotate(315deg);
	        transform: rotate(315deg);
	top: 50%;
	margin-left: -20px;
	width: 40px;

}
.active{
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}

/*modal*/

.modal{
	display: none;
	font-size: 2em;
	width: 200px;
	text-align: center;
	background-color: rgba(220,0,0,.2);
	margin: 0 auto;
	padding: 1rem;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.modal .nav__bottom,.modal .nav__top{
	display: block;
	font-size: 2rem;
}

.modal .header__social{
	display: flex;
	margin-top: 2rem;
}
.modal .header__social a i{
	color: rgba(0,0,255,.7);
}

.modal .modal__cart{
	margin-bottom: 1rem;
	width: 100%;
	padding: 1rem;
	-webkit-border-radius: .5rem;
	        border-radius: .5rem;
}

.modal .nav__top li,.modal .nav__bottom li{
	margin-bottom: 1rem;
}
.modal .nav__top li a,.modal .nav__bottom li a{
	color: #000;
}
.modal .nav__top li:last-child,.modal .nav__bottom li:last-child{
	border-bottom: 1px solid black;
}

.modal .nav__top li:nth-child(2){
  margin-left: 0rem;
}




/*media*/
@media (max-width: 1000px) {
	.header__social,.header__nav,.header__right{
		display: none;
	}
	.header__logo{
		display: block;
	}
	.header__logo_img{
		height: 100px;
	}
    .menu_toggle{
    	display: flex;
    }
    

}
@media (min-width: 1000px){
	.modal{
		display: none;
	}
	.menu_toggle{
    	display: none;
    }
	
}